

.back-to-site {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.back-to-site a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background: rgba(27, 27, 27, 0.866);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    color: #ECF86E;
    text-decoration: none   ;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.back-to-site a:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.back-to-site span {
    font-size: 18px;
}

